[submodule "integrations/discord_bots/opensouls-discordbot"]
	path = integrations/discord_bots/opensouls-discordbot
	url = git@github.com:opensouls/opensouls-discordbot.git
[submodule "integrations/discord_bots/samantha-discordbot"]
	path = integrations/discord_bots/samantha-discordbot
	url = git@github.com:opensouls/samantha-discordbot.git
[submodule "integrations/telegram/social-tele-bot"]
	path = integrations/telegram/social-tele-bot
	url = git@github.com:roevsky/social-tele-bot.git
[submodule "integrations/discord_bots/emobot-discordbot"]
	path = integrations/discord_bots/emobot-discordbot
	url = git@github.com:opensouls/emobot-discordbot.git
